/Code Screenshots
/GENG0030 Labwork 1.pdf
/Individual Lab Work 1 Log Book.docx
/Individual Lab Work 1 Report.docx
/inventory.csv
/tet.py
/Week 1 Logbook CSFY Group 3 (Ariq).docx
/Week 2 Logbook CSFY Group 3 (Ariq).docx
/Week 3 Logbook CSFY Group 3 (Ariq).docx
/~$dividual Lab Work 1 Log Book.docx